*.csv
*.xlsx
Noise_Removed_txt/
Initial_Noise_TXT_Output/
Initial_Moti & VSChat/
.vscode/
AR PDF's/
BRSR 333 + Top 83 Companies/
Moti Sir Sent Words and Tone Analysis Code/
.Rhistory
BRSR-BRR_Manual Combined PDF/